<!DOCTYPE html>
<title>My Example</title>

<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- <img src="logo.png"> -->
    <nav  class="navbar navbar-expand-sm bg-img" style="    margin-bottom: 0px;
    ">
      
    
    <ul class="navbar-nav img" >
        <li class="nav-item">
            <a class="nav-link active " onclick="document.getElementById('id01').style.display='block'" routerLink="/search" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" style=" margin-left: 50px; margin-right: 10px; color: #f2f2f2; font-size: 17px; ">כניסה / הרשמה</a>

        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/aboat" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats" style="color: #f2f2f2; font-size: 17px;margin-right: 10px; ">צור קשר</a>

        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/search" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats" style="color: #f2f2f2; font-size: 17px;margin-right: 10px; ">אודות</a>

        </li>
        <li class="nav-item">            <a class="nav-link" routerLink="/schedule-teacher" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats" style="color: #f2f2f2; font-size: 17px; margin-right: 10px;">בית</a>

        </li>
        <!-- <li class="nav-item">   
                <a class="nav-link" routerLink="/show-secudle-teacher" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats" style="color: #f2f2f2; font-size: 17px; margin-right: 10px;">show-secudle-teacher</a>

        </li> -->
        <!-- <li class="nav-item">   
                <a class="nav-link" routerLink="/schedule-table" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats" style="color: #f2f2f2; font-size: 17px;margin-right: 10px; ">determination-lesson</a>

        </li> -->
        <li class="nav-item">   
                <a class="nav-link" routerLink="/calendar" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats" style="color: #f2f2f2; font-size: 17px; margin-right: 10px;">לוח שיעורים</a>

        </li>
      </ul>
    </nav>
    <br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<router-outlet>
    </router-outlet>
   <!--The content below is only a placeholder and can be replaced.-->
  
<div style="margin-bottom:25px">
 
    <div style="display:block;"
         [style.width]="width">
      <slideshow #slideshow
                 [imageUrls]="imageUrls"
                 [height]="height"
                 [minHeight]="minHeight"
                 [arrowSize]="arrowSize"
                 [showArrows]="showArrows"
                 [disableSwiping]="disableSwiping"
                 [autoPlay]="autoPlay"
                 [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
                 [debug]="debug"
                 [backgroundSize]="backgroundSize"
                 [backgroundPosition]="backgroundPosition"
                 [backgroundRepeat]="backgroundRepeat"
                 [showDots]="showDots"
                 [dotColor]="dotColor"
                 [showCaptions]="showCaptions"
                 [captionColor]="captionColor"
                 [captionBackground]="captionBackground"
                 [lazyLoad]="lazyLoad">
      </slideshow>
    </div>
  </div>
  
  
  
